body{
    align-self: center;
    background-color: rgb(242, 239, 239);
    text-align: center;
    margin: 5%;
    


}
/* hr{
      height: 35vh;
      width:.1vw;
      border-width:0;
      background-color:blue;
      position: fixed;
      margin-bottom: 100%;
      margin-left: 41%;
     
} */

#h2{
    color: black;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#restart{
    border-style:none;
    padding: 5px;
}


button{
    padding: 3%;
    margin: 1%;
    background-color: rgb(147, 158, 158);
    border-radius: 15%;
    border-style: none;
    font-size: larger;
    font-weight: bold;
    font-family: cursive;
    background-size: fixed;
}

button:active{
    outline: none;
}

#first-div {
    /* display: flex; */
    
    align-items: center;
    justify-content: center;
    height: 100vh;
  }